<div class="container">
  <h1> <%= @graph.name %> </h1>
  <% colour = @graph.on_track? ? "green" : "red" %>
  <% if @graph.on_track? %>
    <h4 style="color:<%= colour %>"> Currently on track </h4>
  <% else %>
    <h4 style="color:<%= colour %>"> Requires <%= @graph.requires_to_get_on_track %> words today to get on track </h4>
  <% end %>
  <p> <b> Description: <%= @graph.desc %> </b> </p>
  <%=
    line_chart(
      [ { "name":"Burndown","data": @data},
        { "name":"Wordcount Required", "data": @user_data}
    ], min: nil, colors: ["blue", colour]
    )%>



  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Overview
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wordcount">
    Add to wordcount
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adjust_wordcount">
    Update total
  </button>
  <button type="button" class="pull-right btn btn-danger" data-toggle="modal" data-target="#delete">
    Delete project
  </button>
  <div id="delete" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <p> This is your final chance. Deleting the Project is permanent. Delete the project? </p>
        <form style="float:right;" action="/delete/<%=@graph.id %>", method="POST">
          <button type="submit" class="btn btn-danger"  >
            Delete Project
          </button>
        </form>
      </div>
    </div>
  </div>
  <div id="adjust_wordcount" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form action="/graph/<%= @graph.id %>" class="form-inline" method="POST">
          <p>This will alter the total amount of words written, assigning any extra to today's total.</p>
          <input type="number" placeholder="Adjust Wordcount" name="adjust_wordcount" autofocus>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
    </div>
  </div>

  <div id="wordcount" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form action="/graph/<%= @graph.id %>" class="form-inline" method="POST">
          <p> Add additional wordcount for today </p>
          <input type="number" placeholder="Word Count" name="wordcount" autofocus>
          <button type="submit" class="btn">submit</button>
        </form>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" id="longModal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Overview</h4>
        </div>
        <div class="modal-body">
          <%=
            line_chart(
              [ { "name":"Burndown","data": @full_data},
                { "name":"Wordcount Required", "data": @user_data}
            ], colors: ["blue", colour]
            )%>
          <% unless @graph.on_track? %>
            <div class="alert alert-danger" role="alert"> Stay below the blue line! </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="row">
    <div class="col-md-6">
      <h4> About your project </h4>
      <table class="table table-striped">
        <tr>
          <td> Created on </td>
          <td> <%= @graph.fancy_start_date %> </td>
        </tr>
        <tr>
          <td> Words </td>
          <td> <%= @graph.wordcount %> </td>
        </tr>
        <tr>
          <td> Days </td>
          <td> <%= @graph.days %> </td>
        </tr>
        <tr>
          <td> Recommended Daily Wordcount </td>
          <td> <%= @graph.wordcount_per_day %> </td>
        </tr>
        <tr>
          <td> Finish Date </td>
          <td> <%= @graph.fancy_finish_date %> </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h4> Current Stats </h4>
      <table class="table table-striped">
        <tr>
          <td>Date Today</td>
          <td><%= Date.today.strftime("%B %-d, %Y") %></td>
        </tr>
        <tr>
          <td>Words Remaining</td>
          <td><%= @graph.words_left %></td>
        </tr>
        <tr>
          <td>Days Remaining</td>
          <td><%= @graph.days_left %></td>
        </tr>
        <tr>
          <td>Adjusted Daily Wordcount</td>
          <td><%= @graph.current_required_wordcount %> </td>
        </tr>
        <tr>
          <td>Words Written</td>
          <td><%= @graph.cumulative %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
