<div class="container">
  <h1> <%= @graph.name %> </h1>
  <% colour = @graph.on_track? ? "green" : "red" %>
  <% if @graph.on_track? %>
    <h4 style="color:<%= colour %>"> Currently on track </h4>
  <% else %>
    <h4 style="color:<%= colour %>"> Requires <%= @graph.requires_to_get_on_track %> words today to get on track </h4>
  <% end %>
  <%=
    line_chart(
      [ { "name":"Burndown","data": @data},
        { "name":"Wordcount Required", "data": @user_data}
    ], min: nil, colors: ["blue", colour]
    )%>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Overview
  </button>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Overview</h4>
        </div>
        <div class="modal-body">
          <%=
            line_chart(
              [ { "name":"Burndown","data": @full_data},
                { "name":"Wordcount Required", "data": @user_data}
            ], colors: ["blue", colour]
            )%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="row">
    <div class="col-md-6">
      <h4> About your project </h4>
      <p> Stay below the blue line! </p>
      <p> So far you have written <%= @graph.cumulative %> words on this project. You should have written <%= @graph.current_burndown %> by now!</p>
      <p> You wanted to write <%= @graph.wordcount %> words in <%= @graph.days %> days. </p>
      <p> This means writing <%= @graph.wordcount_per_day %> words per day. You'll be all done by <%= @graph.finish_date %> if you do your word count daily! </p>
    </div>
    <div class="col-md-6">
      <h4> Adding to your wordcount </h4>
      <p> You can add your wordcount below! </p>

      <form action="/graph/<%= @graph.id %>" class="form-inline" method="POST">
        <p> I wrote </p>
        <input type="number" placeholder="Word Count" name="wordcount">
        <p> words today </p>
        <button type="submit" class="btn">submit</button>
      </form>
    </div>
  </div>
</div>
